.shell-layout {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.shell-courses {
    flex-grow: 1;
}

.shell-planner {
    flex-grow: 4;
}

.shell-sidebar {
    flex-grow: 1;
}